header{
    background-image: linear-gradient(to right,light blue,purple);
    color: white;
    text-align: center;
    padding: 10px;

}

.card-body{
    background-color: beige;
    color: white;
}

#icon{
    width: 60px;
}

.cardIcon{
    width: 50px;
}