body {
  background-color: bisque;
}

/* in charge in only the main header */
header {
  background-image: linear-gradient(to right, lightblue, purple);
  color: black; /* Set the text color to black */
  text-align: center;
  padding: 10px;
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Make the font bold */
}
/* CARD CSS */

#main-cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* You can change this to flex-end or center if needed */
}

.cards-container {
  display: flex; /* Set display to flex */
  flex-wrap: nowrap; /* Prevent wrapping to ensure cards stay in a row */
  justify-content: space-around; /* Adjust as needed */
  gap: 20px; /* Add gap between cards */
}

p {
  margin: auto;
  width: 50%;
  font-size: 16px;
}

.heartmaincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(
    50% - 20px
  ); /* Each card takes up 50% of the container width with some spacing */
  margin-bottom: 20px; /* Adjust as needed */
  /* Other styles */
}

.card-body {
  background-color: darkviolet;
  color: white;
}

#icon {
  width: 60px;
}

.cardIcon {
  width: 50px;
}

/* It defines in which direction flex items are laid out in the flex container.
   What is it doing here? 
   We are ensuring that the main body and navbar stack vertically in a column. */

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: row; /* Stacking main and nav vertically */
  }
}
